<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004876525949-oqbj8akupvm21q7v6u2l730elajus4ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004876525949-oqbj8akupvm21q7v6u2l730elajus4ki</string>
	<key>API_KEY</key>
	<string>AIzaSyDFzktJeVdHyf8RLc5u6M8_1vXi1_D5HLg</string>
	<key>GCM_SENDER_ID</key>
	<string>1004876525949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upnetix.healthcare</string>
	<key>PROJECT_ID</key>
	<string>healthcareapp-covid19</string>
	<key>STORAGE_BUCKET</key>
	<string>healthcareapp-covid19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004876525949:ios:938f908757b3b3b36b5c14</string>
	<key>DATABASE_URL</key>
	<string>https://healthcareapp-covid19.firebaseio.com</string>
</dict>
</plist>