## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcuserstate
!default.xcworkspace
profile
*.moved-aside

.vscode/*

### OSX ###
.DS_Store
.AppleDouble
.LSOverride


DTS*

# Xcode per-user config
*.mode1
*.perspective

## User settings
xcuserdata
xcshareddata

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Obj-C/Swift specific
*.hmap

# Build products
build/
Builds/*
*.o
*.LinkFileList

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

# Cocoapods
Pods/
#Podfile.lock

# Carthage
#Carthage/Build/

# Accio dependency management
#Dependencies/
#.accio/

# git
.gitmodules

# AppCode specific files
.idea/
*.iml
localizations.zip
*.xcbkptlist

# Code Analysis
sonar-reports/
.scannerwork

# Gemfile
Gemfile.lock

# fastlane specific
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
